/* Container Styles */
.testimonials-container {
  padding: 40px 20px;
    max-width: 1200px;
    
    margin: 20px auto;
    background-color: rgb(34, 151, 153,0.3);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Title and Subtitle Styles */
.testimonials-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: wheat;
}

.testimonials-subtitle {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 10px;
  color: wheat;
}

/* Intro and Description Text Styles */
.testimonials-intro,
.testimonials-description {
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
}

.testimonials-description {
  text-align: left;
}

/* Testimonial Card Styles */
.testimonial-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction:column !important;
  justify-content: center;
  align-items: center;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

/* Photo Styles */
.testimonial-photo {
  width: 100px !important; 
  height: auto;
  border-radius: 20px !important;
  margin-bottom: 15px;
}

/* Text Styles within the Testimonial Card */
.testimonial-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-experience {
  font-size: 1.1em;
  color: #666;
  text-align: left;
  /* font-style: italic; */
}

/* Navigation Buttons Styles */
.testimonial-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testimonial-nav-btn {
  background-color: #0E46A3;
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.testimonial-nav-btn:hover {
  background-color: #0056b3;
}
