/* BlogDetail.css */

.blog-detail {
  padding: 40px;
  display: flex;
  width: 60vw;
  margin: 40px auto;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: white;
  background-color: rgb(34, 151, 153,0.2);
  backdrop-filter: blur(0px);
  --clr: #229799;
  background-color: rgb(245, 245, 245,0.2);
  border-radius: 20px;
  letter-spacing: 0.15em;
  word-spacing: 0.02em;
  box-shadow: 0 0 35px var(--clr);
  text-align: justify;
}

.blog-detail-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
  border-bottom: 5px solid #229799 ;
}

.blog-detail-content {
  font-size: 1.2rem;
  line-height: 1.3;
  color: rgb(254, 250, 224);
  /* text-align: center; */
}
.blog-detail-image {
  width: 100%; /* Make the image responsive */
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px; /* Space below image */
}
@media(max-width:768px){
  .blog-detail{
    width: 95vw;
    padding: 15px;
  }
  .blog-detail-content{
    font-size: 1rem;
  }
  .blog-detail-title{
    font-size: 2.5rem;
  }
}
