.blogContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    
}
.blogColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .blogContainer{
       flex-direction: column;
        
    }
  
}