.gallery-container {
    padding: 50px;

    text-align: center;
  }
  
  .gallery-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    animation: fadeInDown 1s ease-out;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    animation: fadeIn 2s ease-out;
  }
  
  .gallery-item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.4s;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s;
  }
  
  .gallery-item:hover .gallery-image {
    transform: scale(1.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .carouselG {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    
    max-width: 1000px; /* Adjust width as needed */
  }
  .gallery{
    z-index:-4;
  }
  .carouselG-inner {
    display: flex;

    transition: transform 0.5s ease-in-out;
  }
  
  .carouselG-item {
    min-width: 100%;
 
    transition: transform 0.5s ease;
  }
  
  .carouselG-item img {
    width: 100%;
   
    display: block;
    border-radius: 10px; /* Rounded corners for images */
  }
  
  .carouselG-indicators {
    text-align: center;
    margin-top: 10px;
  }
  
  .carouselG-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carouselG-indicator.active {
    background-color: #333;
  }
    