.resources-container {
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    /* box-shadow: 0 0 35px black; */
  }
  
  .resources-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
    animation: fadeIn 1s ease-in-out;
  }
  
  .resources-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
  
  .resource-card {
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #42424259;
    backdrop-filter: blur(20px);
    color: black;
    --clr: #229799;
    box-shadow: 0 0 35px var(--clr);
    transition: transform 0.3s ease, box-shadow 0.3s ease, letter-spacing 0.3s ease;
    
  }
  
  .resource-card:hover {
    --clr: #229799;
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.1em;
  box-shadow: 0 0 35px var(--clr);
    transform: translateY(-10px);
    /* box-shadow: 0 15px 12px rgba(0, 107, 221, 0.5); */
  }
  
  .resource-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    animation: fadeInUp 1s ease-in-out;
  }
  
  .resource-title {
    font-size: 1.5rem;
    color: #E1F7F5;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  