
.banner-content {
  backdrop-filter: blur(1px);
  background-color: #0e47a375;
  width: 100%;
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 10px;
  color: white;
}

.banner-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.banner-cta {
  background-color: #9AC8CD;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner-cta:hover {
  background-color: #513ce9;
}
