.carousel {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: #e1f7f5; Optional: Background color during image transition */
}
.carousel-overlay {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.421);
  width: 100%;
  height: 100%;
  padding: 0px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: left;
}

.carousel-content{
  padding: 30px;
}

.carousel-title {
  font-size: 4rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.carousel-button{
  position: relative;
  background-color: #fff;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  width: max-content;
  border-radius: 20px;
  margin: 10px;
  margin-top: 20px;
}

.carousel-button:hover{
  --clr: #229799;
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.carousel-button:before{
  content: '';
  position: absolute;
  inset:2px;
  border-radius: 20px;
  background: #EEEEEE;
}
.carousel-button span{
  position: relative;
  z-index : 1;

}
.carousel-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;

}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.carousel-body-text {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1E0342;
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
  max-width: 80%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.carousel-indicator {
  width: 40px;
  height: 5px;
  background-color: #fff;
  /* border-radius: 50%; */
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicator.active {
  background-color: #1e0342;
}
