.footersmp{
  width: 100%;
  height: 90%;
  padding: 0;
  margin-top: 30px;
  background-color: rgba(12, 242, 246, 0.2);
  backdrop-filter: blur(20px);
  color: white;
}
.footerContainer{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.footerButton{
  width: 100%;
  color: black;
  background-color: #E1F7F5;
}
.footerButton:hover{
  color: black;
  background-color: #9AC8CD;
}
.footerItems > li > a {
  color: #E1F7F5;
  /* color: rgb(23, 5, 80); */
  color: #E1F7F5;

}
.footerItems > li > a:hover {
  /* color: #E1F7F5; */
  color: rgb(23, 5, 80);

}
.footer-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
 
  width: 100%;
}
.footer {
  
  padding: 40px 20px; /* Spacing */
  text-align: center; /* Center-align text */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Adjust as needed */
}

.footer-info {
  margin-bottom: 20px;
  font-size: 14px;
  color: #E1F7F5; /* Dark text */
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-button {
  background-color: #48CFCB; /* Blue button */
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-button:hover {
  color: black;
  background-color: #E1F7F5; /* Darker blue on hover */
}

.footer-issues {
  margin-top: 20px;
}

.footer-email-button {
  background-color: #F5F5F5; /* Green button */
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-email-button:hover {
  background-color: #48CFCB; /* Darker green on hover */
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap:10px;
  }
}
