.curved-card {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px #1e04e166;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #333;
    /* border: 1px solid #ddd; */
    /* overflow: hidden; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 0px 8px #9AC8CD; */
  }
  
  .curved-card:hover {
    transform: translateY(-14px);
    --clr: #2297994a;
    background: var(--clr);
    color: white;
    border: none;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px #229799;
  }
  
  .curved-card-image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .curved-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .curved-card-title {
    font-size: 2.0rem;
    margin: 20px;
  }
  @media (max-width: 768px) {
    .curved-card{
      width: 300px;
      padding:10px ;
    }
    .curved-card-title{
      font-size: 1.2rem;
    }
    .curved-card-image-container{
      width: 70px;
      height: 70px;
    }
  }